h1 {
    text-align: center;
    padding: 10px 25px;
    background-image: linear-gradient(45deg, #f1a18d 0%, #f83403 52%, #5e1701 90%);
    color: white;
    margin: 0;  
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

.row {
  background-image: url(./jarritos-mexican-soda-E0txIcqePac-unsplash.jpg);
  background-size: cover;
  background-position: 80%;
  background-attachment: fixed;
  }

  #addArea {
    border: 1px solid black;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 18px;
    width: 50%;
  }
  
  #searchBtn {
    margin-bottom: 25px;
    background:#f1a18d;
    color: whitesmoke;
    justify-content: center;
    font-size: 15px;
    font-weight: 700;
    text-shadow: 0 0 6px #333;
    width: 50%;
    border-radius: 5px;
  }

  
  
  